{% extends 'hello_base.html' %}

{% block title %}
{{ last_requests.count }} last requests -
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="small-centered"><h2 id="head_content">{{ last_requests.count }} last requests</h2></div>
</div>
<div class="row">
        <div class="small-10 column">
        <div id="requests-log">
        {% for request in last_requests %}
        <p>{{ request.data }}</p>
        {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript">
    function update(){
        $.ajax({
            url: "/requests/",
            dataType: "json",
            success: function(response_data){
                var len = response_data.length;
                $("title").html($("title").text().replace(/[\d]{1,2}/, len));
                $("#head_content").html(len+" last requests");
                s = "";
                for(var i=0; i<len; i++){
                    s += "<p>"+response_data[i].fields.data+"</p>";
                }
                $("#requests-log").html(s);
            },
        });
    }
    $(document).ready(function(){
        setInterval(update, 2000);
    })
</script>
{% endblock %}